<div class="page">
    <div class="title">{{table[currentQuestionIndex].title}}</div>

    <div class="card mt-2" *ngIf="currentQuestionIndex < table.length">
        <div class="card-body">
            <h3 class="card-title">{{table[currentQuestionIndex].id}}: {{table[currentQuestionIndex].Challenge}}</h3>
            <div *ngIf="SOTIsArray">
                <ul>
                    <li *ngFor="let reason of reasonsArray">{{reason}}</li>


                </ul>
            </div>
            <p *ngIf="!SOTIsArray">
                {{table[currentQuestionIndex].SomeOfTheThingsYouMightHaveSee}}
            </p>

            <b>I see this in my org:</b>
            <div class="form-check form-switch" *ngFor="let option of table[currentQuestionIndex].options">
                <input class="form-check-input" type="radio" name="{{table[currentQuestionIndex].id}}-option"
                    id="{{table[currentQuestionIndex].id}}-{{option}}" value="{{option}}"
                    [(ngModel)]="table[currentQuestionIndex].selectedOption">
                <label class="form-check-label" for="{{table[currentQuestionIndex].id}}-{{option}}">
                    {{option}}
                </label>
            </div>
            <br>
            <b>Selected:</b> {{table[currentQuestionIndex].selectedOption}}
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" (click)="previousQuestion()" *ngIf="currentQuestionIndex > 0">Previous</button>
        <button class="btn btn-success" (click)="nextQuestion()"
            *ngIf="currentQuestionIndex < table.length - 1">Next</button>
        <button class="btn btn-success" (click)="submit(table)" 
            *ngIf="currentQuestionIndex === table.length - 1 ">Download</button>
    </div>
</div>