
<div class="row m-2 options">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="d-flex">
      <div class="card m-2" style="width: 18rem;">
        <img src="/assets/images/survey1.png" alt="">
       
        <div class="card-body">
          <h4 class="card-title"><b> DevOps Rediness Survey </b></h4>
         
          <button color="primary" mat-raised-button (click)="openSurveyDialog('0ms', '0ms')">DevOps Survey</button>

        </div>
      </div>
      <div class="card m-2" style="width: 18rem;">
        <img src="/assets/images/assessment.jpg" alt="">

        <div class="card-body">
          <h4 class="card-title"><b>DevSecOps-Maturity-Assessment</b></h4>
         
          <button color="primary" mat-raised-button (click)="openDevOpsDialog('0ms', '0ms')">DevOps Assessment</button>

        </div>
      </div>
    </div>
  </div>
  <div class="col-3"></div>

</div>
<ng-template #surveyFormDialog>
  <h1 class="modal-title fs-5" id="exampleModalLabel">DevOps Assessment Form</h1>
  <div class="modal-body">
    <form [formGroup]="devOpsSurveyForm" (ngSubmit)="saveSurvey()">
      <div class="mb-3">
        <label for="bu-name" class="col-form-label">BU Name:</label>
        <input type="text" class="form-control" id="bu-name" formControlName="buName">
      </div>
      <div class="mb-3">
        <label for="project-name" class="col-form-label">Project Name:</label>
        <input type="text" class="form-control" id="project-name" formControlName="projectName">
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary me-2" (click)="closeSurveyDialog()">Cancel</button>
        <button type="submit"  class="btn btn-primary">Go</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #devOpsAssessmentDialog>
  <h1 class="modal-title fs-5" id="exampleModalLabel">DevOps Assessment Form</h1>
  <div class="modal-body">
    <form [formGroup]="devOpsAssessmentForm" (ngSubmit)="saveAssessment()">
      <div class="mb-3">
        <label for="bu-name" class="col-form-label">BU Name:</label>
        <input type="text" class="form-control" id="bu-name" formControlName="buName">
      </div>
      <div class="mb-3">
        <label for="project-name" class="col-form-label">Project Name:</label>
        <input type="text" class="form-control" id="project-name" formControlName="projectName">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-2" (click)="closeDevOpsDialog()">Cancel</button>
        <button type="submit"  class="btn btn-primary">Go</button>
      </div>
    </form>
  </div>
</ng-template>

